<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="EnvironmentType" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EnvironmentName" value="CI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MinimumLogLevel" value="Debug" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SeqServerUri" value="http://seq.gertjvr.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LatencyMonkeyEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NimbusConnectionString" value="Endpoint=sb://gertjvr-owinsample.servicebus.windows.net/;SharedAccessKeyName=SharedAccessKey;SharedAccessKey=N5fKgEx4Btz30UNM1iSbWpcivF+k/JjkNd0lfd8uiqE=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultBusTimeout" value="00:00:05" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultBusHeartbeatInterval" value="10675199.02:48:05.4775807" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Issuer" value="http://pi.gertjvr.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Audience" value="http://pi.gertjvr.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientSecret" value="oyGwtEfZW7nJPTiS5hNw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RequireTLS" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>